{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/auth.css') }}"/>
{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <section>
        <div class="auth">
            <form action="{{ path('app_login') }}" method="post">
                <input class="text" type="text" placeholder="Имя пользователя"
                       id="username" name="_username" value="{{ last_username }}" />
                <input class="text" type="password" placeholder="Пароль" id="password" name="_password" />
                <fieldset class="buttons">
                    <input class="button" type="submit" value="Войти">
                    <a href="/auth/registration"><input class="button" type="button" value="Регистрация"></a>
                </fieldset>
            </form>
        </div>
    </section>
{% endblock %}
